<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updateitems</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="enter the item name" name="name" required value='{{items[1]}}'/>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category" value='{{items[2]}}' required>category
            <option >South India</option>
            <option >North India</option>
            <option >Chinese</option>
            <optiom>French</option>
           
          </select>
        <input type="number" placeholder="enter the price" name="price" required value='{{items[3]}}'/>
<button type="submit">submit</button>
    </form>
</body>
</html>